
.idea/vcs.xml
.idea/workspace.xml
.idea/digital-detection.iml
.idea/digital-detection.iml
.idea/misc.xml
.idea/digital-detection.iml
.idea/digital-detection.iml
src/__pycache__/__init__.cpython-35.pyc
*.pyc
